@model UserModel

@{
    ViewBag.Title = "Login";
}

<h3>@ViewBag.Title</h3>
<hr />

<form asp-action="Login">
    @Html.AntiForgeryToken()
    <div class="container">
        @if (TempData["Message"] is not null)
        {
            <p class="text-danger">
                @TempData["Message"]
            </p>
        }
        <div class="row mb-3">
            <label asp-for="UserName" class="col-2 col-form-label fw-bold"></label>
            <div class="col-10">
                <input asp-for="Record.UserName" class="form-control" />
                <span asp-validation-for="Record.UserName" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="Password" class="col-2 col-form-label fw-bold"></label>
            <div class="col-10">
                <input asp-for="Record.Password" class="form-control" type="password" />
                <span asp-validation-for="Record.Password" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-10 offset-2">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </div>
    </div>
</form>